# network
version: 2
ethernets:
  eth0:
    match:
      name: ens3
{% if src_vm_image_type != 'centos7' %}
    dhcp4: false
    dhcp6: false
{% endif %}
    addresses:
      - {{ hostvars[item]['ansible_host'] }}/{{ hostvars[item]['default_subnet_bit'] }}
    gateway4: {{ hostvars[item]['default_gateway'] }}

